Первым достоверным носителем имени Святослав являлся Великий киевский князь Святослав Игоревич. 
В византийских источниках X века его имя пишется как Σφενδοσθλάβος (Сфендославос), откуда историки, начиная с Василия Никитича Татищева, делают предположение о соединении скандинавского имени Свен (дат. Svend, др.-сканд. Sveinn, совр. швед. Sven) с окончанием славянского двухосновного имени -слав.[2] 
Однако со Свент- начинаются в иноязычной передаче и другие славянские имена на Свят-, например, имя Святополка (в источниках Zwentibald или Свентиплук[3]), князя Великой Моравии в 870—894 гг., или Святополка Владимировича, киевского князя в 1015—1019 гг. 
(Suentepulcus у Титмара Мерзебургского). Согласно этимологическому словарю Макса Фасмера, начальная часть этих имён восходит к праславянскому корню *svent-, который после утраты носовых гласных и дал современное восточнославянское свят- 'святой'. 
Носовые гласные сохранились также до настоящего времени в польском языке (для сравнения польск. 
Święty (Сьвенты) — святой). При этом Фасмер не исключает (хотя и отмечает как маловероятную) возможность появления имени из готск. swina-slaw[4].
Женское соответствие имени Святослав (Святослава) носила сестра датского и английского короля Кнуда Великого, мать которой была родом из польской династии Пястов.
